<footer>
    <div class="container">
        <p>&copy; NODEPOP 2019. <%= __('All rights reserved') %>.</p>
        <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#"><%= __('Privacy') %></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><%= __('Terms') %></a>
        </li>
        <li class="list-inline-item">
            <a href="#">FAQ</a>
        </li>
        </ul>
    </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

</body>

</html>